@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root{
    --color_white: #ffffff;
    --color_black: #000000;
    --color_red: #E81D19;
    --color_red2:#770d0b;
    --color_green: #4EA571;
    --color_roxo: #4b1c71;
    --color_lilas: #7f4ca5;
    --color_lilas2: #b57edc;
    --color_lilas3: #dbb6ee;
    --color_lilas4: #5d4170;
    --color_gray:#808080;
    --color_gray2:#717171;
    --color_gray3:#3E3E3E;
    --color_yellow:#FCBB00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    box-shadow: 2px 2px 4px rgba(75, 28, 113, 0.082);
}

header nav {
    margin-left: 20px;
    display: flex;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 20px;
    color: var(--color_black);

}

header nav a:hover {
    color: var(--color_lilas);
}

header nav a li {
    list-style: none;
}

#informationContainer {
    display: flex;
}

.search-box{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-btn{
    color:var(--color_white);
    padding: 13px;
    height: 40px;
    border: 50px;
    background:var(--color_lilas2);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: 2s;
    border-radius: 40px;
}

.search-btn:hover {
    cursor: pointer;
}

.search-txt{
    border:none;
    outline: none;
    color:var(--color_black);
    font-size: 12px;
    transition: 0.4s;
    line-height: 3.5;
    width: 0;
}

.search-box:hover .search-txt{
    width: 240px;
    padding: 0 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.search-box:hover .search-btn{
    background:var(--color_white);
    color: var(--color_lilas);
}

.navIcons {
    padding-right: 5px;
    height: 20px;
    width: 25px;
}

#address {
    display: flex;
    align-items: center;
}

#address a{
   box-decoration-break: none;
   color:var(--color_black);
}

#address a:hover{
    color:var(--color_lilas);
}

.bi-person{
    margin-right: 10px;
}

/* #local-entrega {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.096);
    cursor: pointer;
    margin-right: 10px;
} */


/* MAIN */
main {
    margin: 40px;
}

h1 {
    color: var(--color_green);
    font-weight: bold;
    font-size: 45px;
}

#feedback {
    display: flex;
    justify-content: space-between;
}

#feedback img {
    display: block;
    width: 700px;
    height: 500px;
    margin-right: 100px;
}

#feedback form {
    margin-top: 40px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    background-color: rgba(128, 128, 128, 0.041);
    border-radius: 10px;
}

#feedback form input {
    margin-top: 20px;
    height: 40px;
    width: 560px;
}

#feedback textarea {
    margin-top: 20px;
    margin-left: 47px;
    width: 80%;
    height: 200px;
}

#feedback form button {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    background-color: red;
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
}

#feedback form button:hover {
    cursor: pointer;
    background-color: #ff0000a8;
}


/* FOOTER 1 */

footer{
    background-color: var(--color_lilas3);
    color: var(--color_roxo);
    letter-spacing: 1px;
}

footer .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 3.5rem;
}

/* footer .footer-container a:hover{
    color:var( --color_whithe)
 } */

footer .footer-container img{
height: 4rem;
}

footer .footer-container ul{
    width: 25%;
    list-style: none;
}

footer .footer-container h3{
    margin-bottom: 6%;
    /* font-weight: 30%; */
}

/* footer .footer-container .redes-sociais img{
    margin-right: 10px;
    height: 50px;
   } */

/* footer .footer-container p{
   margin: 5% 0%;
} */

/* footer .footer-container ul > p{
 margin-bottom: 40%;
} */

footer .footer-container li{
    margin: 1% 0%;
   }

footer .footer-container a{
    color:var(--color_gray3);
    text-decoration: none;
    transition: .4s;
 }

 footer .footer-container a:hover{
    color:var( --color_roxo)
 }

 footer .footer-container i{
    transition: .4s;
    /* margin-right: 0%; */
    /* para aumentar os icones */
    font-size: 200%;
 }

 footer .footer-container i:hover{
    color:var( --color_roxo)   
 }


/* FOOTER 2 */
.footer-segundo{
   padding: 0,8%;
   background-color: var(--color_gray);
   color: var(--color_white);
   justify-content: center; 
   align-items: center;
   display: flex;
}

.footer-segundo img{
    width: 3%;
    padding: 1% 0%;
    /* gap: 5%; */
 }

#rodape-direitos{
    display: flex;
    flex-direction: column;
    text-align:left;
    margin-left: 1%;
}

/* RESPONSIVIDADE */

/* @media screen and (max-width: 1192px) {
   body {
    width: 100%;
   }
} */

  
